---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import Erika from "../../assets/erika.jpg";

export const getStaticPaths = async () => {
  const blogPosts = await getCollection("blog");

  // return [{ params: { slug: "first-post" } }]; // contoh hard coded

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post }, // berisi data di variable post {id, slug, data, render, dll}
  }));
};

const props = Astro.props;
const render = await props.post.render();
---

<MainLayout title="Blog Post">
  <h1>{props.post.data.title}</h1>
  <img inferSize src={Erika.src} alt="Erika {Author Image}" />
  <div>
    <img inferSize src={props.post.data.image} alt={props.post.data.image} />
    <render.Content />
  </div>
</MainLayout>
