---
import MainLayout from "../layouts/MainLayout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<MainLayout>
  <h1>Hello Astro!</h1>
</MainLayout>
