---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import { SEO } from "astro-seo";
import Swaper from "../components/Slider.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build

// getCollection
const blogPosts = await getCollection("blog");
---

<MainLayout title="Homepage">
  <h1>Homepage</h1>

  <SEO
    slot="seo"
    title="Astro News Portal - Daily News for Everyone"
    description="Selamat datang di Portal Berita Astro - Tempat nyantai buat update berita tiap hari! Di sini kamu bisa tetap up to date dengan berita terbaru, topik seru, dan artikel menarik yang cocok buat semua orang. Yuk, jalan-jalan ke berbagai kategori dan temukan cerita yang bikin penasaran."
    twitter={{
      creator: "@jotarokujo",
      card: "summary_large_image",
    }}
    openGraph={{
      basic: {
        type: "website",
        title: "Astro News Portal - Daily News for Everyone",
        image: "/ogImage_default.jpeg",
      },
      image: {
        alt: "Thumbnail",
      },
    }}
  />

  <div style="margin-top: 0.5rem;">
    <Swaper posts={blogPosts.filter((post) => post.data.isPinned)} />
  </div>

  <!-- Articles -->
  <main class="container mt-content">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {
        blogPosts.map((post) => (
          <div class="col">
            <Card post={post} />
          </div>
        ))
      }
    </div>
  </main>
</MainLayout>
